*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
}

.formulario {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
}

.options-group{
    width: 244px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 12px;
    margin: 8px 0;
    border: solid lightgrey;
    border-radius: 5px;
}

.button-login{
    background-color: #4b0082;
    color: #f5f5f5;
    padding: 12px 12px;
}